.redbg {
  background-color: red;
}

.greenbg {
  background-color: green;
}

/* #pracownicy {
  display: flex;
} */

.tytul {
  width: 140px;
  text-align: center;
}

.uczen {
  width: 125px;
}

#title {
  margin-left: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* position: relative; */
  
}

input {
  width: 50px;
}

.zajecia-dodatkowe {
  width: 150px;
}

#pracownicy {
  max-width: 70vw;
  margin-right: auto;
}

div[id^="uczen"] {
  margin: 20px 18px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: relative; */
}

/* input.matematyka {
  position: absolute;
  top: 0;
  right: 1325px;
}

input.polski {
  position: absolute;
  top: 0;
  right: 1175px;
}

input.biologia {
  position: absolute;
  top: 0;
  right: 1030px;
}

input.geografia {
  position: absolute;
  top: 0;
  right: 884px;
}

input.fizyka {
  position: absolute;
  top: 0;
  right: 735px;
}

input.chemia {
  position: absolute;
  top: 0;
  right: 595px;
}

input.informatyka {
  position: absolute;
  top: 0;
  right: 440px;
}

input.zajecia-dodatkowe {
  position: absolute;
  top: 0;
  right: 190px;
} */

#oblicz {
  width: 150px;
  padding: 15px 28px;
  background-color: black;
  color: #fff;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5;
}

.srednia {
  display: inline-flex;
}